.date_timepicker_start {
  font-size: 75%;
}

.date_timepicker_end {
  font-size: 75%;
}

.header-filter {

  input {
    font-size: 75%;
  }

  .typeahead {
    width: 250px !important;
    left: -45px !important;
  }

}

.pac-container, .pac-item {
  width: 250px !important;
}