<div class="event-wrap">
    <div class="event-img-wrap">
        <div class="card-image no-margin">
            <a ui-sref="venvast.venues.details({slug: venue.slug})" style="background-image: url('{{ venue.getImageUrl() }}');">
                <span><i class="fa fa-search"></i></span>
            </a>
            <div class="card-actions">
                <a class="venue-open-hours" ng-class="{'open': venue.open}">{{venue.open ? 'Open' : 'Closed'}}</a>
                <a ng-click="favor(venue)"><i class="entypo-heart"></i> <span>Like</span></a>
            </div><!-- /.card-actions -->
        </div>
    </div><!-- Event Image Wrapper -->
    <!-- Event Detail Wrapper -->
    <div class="event-details">
            <div class="event-category-wrap">
                <!-- <img width="32" height="32" ng-src="{{ venue.getIcon() }}" class="img-responsive" alt="Course" data-pin-nopin="true"> -->
            </div>
            <h5>{{ venue.getCategoryName() }}</h5>
            <h4>
                <a ui-sref="venvast.venues.details({slug: venue.slug})">{{ venue.name }}</a>
            </h4>
            <p style="min-height: 80px">{{ venue.description.slice(0, 130) }}...</p>
            <div class="card-location" ng-if="distance !== false">
                <span><i class="fa fa-map-marker"></i> {{ venue.distance.toString().substr(0, 4) }}km away</span>
            </div>
            <h4 style="margin: 0;"><small style="color: rgba(35,35,35,0.4);font-size: 10px; margin-left: 20px;">{{ venue.fullAddress }}</small></h4>
            <a ui-sref="venvast.venues.details({slug: venue.slug})" class="btn btn-secondary">Details</a>
    </div><!-- Event Meta -->
</div>