<div class="content">
    <div class="event-gallery owl-carousel">
        <img ng-src="{{ object.images }}">
    </div>

    <div class="page-header">
        <div class="page-header-inner">
            <div class="container-fluid">
                <!-- <div class="page-header-category">
                    <img ng-src="{{object.icon}}">
                </div> -->

                <div class="page-header-content">
                    <h1>{{ object.name }}</h1>
                    <!-- <address>{{ object.fullAddress }}</address> -->
                </div>

                <div class="page-header-actions">
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a ui-sref="venvast.events">VenVast</a></li>
            <li><a ui-sref="venvast.venues">Venues</a></li>
            <li class="active">{{ object.name }}</li>
        </ol>
    </div><!-- /.container-fluid -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="information">
                    <p>
                        {{ object.description }}
                    </p>
                    <!--<div class="information-comments">-->
                        <!--<strong>200</strong> attendees potentially going to this event.-->
                    <!--</div>&lt;!&ndash; /.information-comments &ndash;&gt;-->

                    <div class="information-actions">
                        <a ng-click="DetailsCtrl.favor(object)"><i class="entypo-heart"></i> <span>Add to favorites</span></a>
                    </div><!-- /.information-actions -->
                </div><!-- /.information -->

                <div class="page-navigation">
                    
                </div><!-- /.page-navigation -->
            </div><!-- /.col-* -->

            <div class="col-sm-3">

                <div class="widget map" style="margin-top: 0px">
                    <div class="map-inner">
                        <div id="event-map"></div>
                        <div class="map-address">
                            <i class="fa fa-map-marker"></i> {{ object.fullAddress }} <br/>
                            <i class="fa fa-envelope" style="color: rgba(0,0,0,.5);"></i><span class="contact-email"> {{ object.email }}</span><br/>
                            <i class="fa fa-phone" style="color: rgba(0,0,0,.5);"></i><span class="contact-phone"> {{ object.phone }}</span>
                        </div><!-- /.map-address -->
                    </div><!-- /.map-inner -->
                </div><!-- /.map -->

                <div class="widget">
                    <div class="business-hours">
                        <h2 class="title">Opening Hours</h2>
                        <ul class="list-unstyled opening-hours">
                            <li ng-repeat="day in object.businessHours" ng-class="{'today': $index === DetailsCtrl.dayIndex }">
                                {{day.alias}} <span class="pull-right">{{ !day.start ? 'Closed' : day.start }} {{ !day.start ? '' : ' - ' + day.end }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>