<div class="header-sticky">
    <div class="header-sticky-inner">
        <div class="header-logo">
            <a href="#">
                <span class="eve-logo">
                	<object type="image/svg+xml" data="assets/img/logo.svg">
  						VenVast
					</object>
                </span>
            </a>
        </div><!-- /.header-logo -->

        <!--  navbar-toggleable-md collapse -->
        <div class="nav-primary">
            <ul class="nav nav-pills">
                <li class="nav-item has-children">
                    <a ui-sref="venvast.events" class="nav-link " ng-class="{'active': StickyHeaderCtrl.eventsState}">Events</a>
                    <ul class="sub-menu">
                        <li><a ui-sref="venvast.events">All</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.events.favorites">Favorites</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.events.attend">Events I attend</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.events.organize">Organize</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.events.drafts">Drafts</a></li>
                    </ul>
                </li>
                <li class="nav-item has-children">
                    <a ui-sref="venvast.venues" class="nav-link " ng-class="{'active': StickyHeaderCtrl.venuesState}">Venues</a>
                    <ul class="sub-menu">
                        <li><a ui-sref="venvast.venues">All</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.venues.favorites">Favorites</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.venues.organize">Organize</a></li>
                        <li ng-if="$root.authenticated"><a ui-sref="venvast.venues.drafts">Drafts</a></li>
                    </ul>
                </li>
                    <formly-form model="StickyHeaderCtrl.form.formData" fields="StickyHeaderCtrl.form.formFields">
                    </formly-form>
            </ul>
        </div><!-- /.nav-primary -->

<!--         <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target=".header .nav-primary">
            <span></span>
            <span></span>
            <span></span>
        </button> -->
    </div><!-- /.header-sticky-inner -->
</div>