// =============================================================================
// COLOR PALETTE
// =============================================================================


// Main Colors
// -----------------------------------------------------------------------------
$primary:          #0159b9;
$secondary:        #e03237;
// -----------------------------------------------------------------------------


// Gray scale
// -----------------------------------------------------------------------------
$black:            rgb(0, 0, 0);
$white:            rgb(255, 255, 255);
// -----------------------------------------------------------------------------
