<div class="content">
    <div class="event-gallery owl-carousel">
        <img ng-src="{{ object.images }}">
    </div><!-- /.event-gallery -->

    <div class="page-header">
        <div class="page-header-inner">
            <div class="container-fluid">
                <div class="page-header-category">
                    <img ng-src="{{object.icon}}" width="32" height="32">
                </div><!-- /.page-header-category -->

                <div class="page-header-content">
                    <h1>{{ object.name }}</h1>
                    <h5><a ui-sref="venvast.venues.details({slug: object.venue.slug})">{{ object.venue.name }}</a></h5>
                    <p>{{ object.starts_in }}</p>
                    <address>{{ object.fullAddress }}</address>
                </div><!-- /.page-header-content -->

                <div class="page-header-actions">
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                    </div>
                </div><!-- /.page-header-actions -->
                <div class="page-header-contact-info">
                    <i class="fa fa-envelope"></i><span class="contact-email">{{ object.email }}</span>
                    <i class="fa fa-phone"></i><span class="contact-phone">{{ object.phone }}</span>
                </div>
            </div><!-- /.container-fluid -->
        </div><!-- /.page-header-inner -->
    </div><!-- /.page-header -->

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a ui-sref="venvast.events">VenVast</a></li>
            <li><a ui-sref="venvast.venues.details({slug: object.venue.slug})">{{ object.venue.name }}</a></li>
            <li class="active">{{ object.name }}</li>
        </ol>
    </div><!-- /.container-fluid -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <div class="information">
                    <p>
                        {{ object.description }}
                    </p>
                    <!--<div class="information-comments">-->
                        <!--<strong>200</strong> attendees potentially going to this event.-->
                    <!--</div>&lt;!&ndash; /.information-comments &ndash;&gt;-->

                    <div class="information-actions">
                        <a ng-click="DetailsCtrl.going(object)"><i class="fa fa-users"></i> <span>I'm going</span></a>
                        <a ng-click="DetailsCtrl.favor(object)"><i class="entypo-heart"></i> <span>Add to favorites</span></a>
                    </div><!-- /.information-actions -->
                </div><!-- /.information -->
            </div><!-- /.col-* -->

            <div class="col-sm-3">
                <div class="widget map" style="margin-top: 0px">
                    <div class="map-inner">
                        <div id="event-map"></div>
                        <div class="map-address">
                            {{ object.fullAddress }}
                        </div><!-- /.map-address -->
                    </div><!-- /.map-inner -->
                </div><!-- /.map -->

                <!--<div class="widget category">-->
                    <!--<ul>-->
                        <!--<li><i class="fa fa-cutlery"></i> Restaurant</li>-->
                        <!--<li><i class="fa fa-wifi"></i> Wireless</li>-->
                        <!--<li><i class="fa fa-coffee"></i> Coffee Shop</li>-->
                    <!--</ul>-->
                <!--</div>&lt;!&ndash; /.widget&ndash;&gt;-->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>