<div class="footer-wrapper">
    <div class="footer">
        <div class="container-fluid">
            <div class="footer-inner">
                <div class="footer-top">
                    <div class="footer-left">
                        <p class="white">&copy; Venvast - Discover events, venues, deals around. All rights reserved.</p>
                    </div><!-- /.footer-left -->

                    <div class="footer-right">
                        <ul class="nav nav-social">
                            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook"></i></a></li>
                            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-youtube"></i></a></li>
                            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div><!-- /.footer-right -->
                </div><!-- /.footer-top -->
                <!-- <div class="footer-bottom">
                    <h3 class="footer-title">Choose Your City</h3>

                    <ul class="nav nav-pills nav-menu center">
                        <li class="nav-item"><a href="#" class="nav-link">New York</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">San Francisco</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Chicago</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Philadelphia</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Washington, DC</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Los Angeles</a></li>
                    </ul>
                </div> -->
                <!-- /.footer-bottom -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container-fluid -->
    </div><!-- /.footer -->
</div>