<div class="event-wrap">
    <div class="event-img-wrap">
        <div class="card-image no-margin">
            <a href="event.html" style="background-image: url('{{ image }}');">
                <span><i class="fa fa-search"></i></span>
            </a>
            <div class="card-actions">
                <a href="#"><i class="entypo-save"></i> <span>Save</span></a>
                <a href="#"><i class="entypo-heart"></i> <span>Like</span></a>
            </div><!-- /.card-actions -->
        </div>
    </div><!-- Event Image Wrapper -->
    <!-- Event Detail Wrapper -->
    <div class="event-details" ng-transclude>
    </div><!-- Event Meta -->
</div>